@import "tailwindcss";

@theme {
  --color-primary: #1f2937;
  --color-secondary: #374151;
  --color-accent: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-success: #10b981;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
